{% extends "base.html" %}
{% block content %}
<div class="content-section">
  <div class="row">
    <form action="." method="POST" role="form" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="email" class="col-sm-offset-3 col-sm-1 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}" required="required"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">儲存</button>
    </form>
  </div>
</div>
{% endblock content%}