@import url('http://fonts.googleapis.com/css?family=Abel');

body,html {
  font-family: 'Abel', sans-serif;
  color:#846C63;
}

body {
  background-color: #F6F4F1!important;
}

a {
  color:#88AAA9!important;
}

.abrown {
  background-color: #BDB1AD !important;
}
.abrown-footer {
  background-color: rgba(189,177,173,0.1)!important;
}