<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% load staticfiles %}

    </head>
    <body>
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">PttNotifier</a>

          </div>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <a class="navbar-brand" href="{% url 'subscription_list' %}">List</a>
              <a class="navbar-brand" href="{% url 'subscription_create' %}">New</a>
              <a class="navbar-brand">{{ user.get_full_name|default:user.username }}!</a>
              <a class="navbar-brand" href="{% url 'auth:logout' %}?next={% url 'home' %}">Logout</a>
            {% else %}
              <a class="navbar-brand" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock %}

      {% block footer %}
      {% endblock %}
    </body>
</html>