{% extends "base.html" %}

{% block title%}通知清單 | {{ block.super }}{% endblock title%}
{% block content %}
<div class="row">
    <table class="table responsive-table">
        <tr>
            <th>文章標題</th>
            <th>作者</th>
        </tr>
        {% for item in notifications %}
        <tr class="notification_item notification_list_row">
            <td><a class="notification-item" href="{{ item.match_url }}" target="_blank">{{ item.article_topic }}</a></td>
            <td>{{ item.article_author }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}