{% extends 'base.html' %}

{% block content %}
<div class="content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>聯絡 PttNotifier</h2>
            <p>有任何建議或問題請不吝來信，謝謝！</p>
            <p><a href="mailto:bustta80980@gmail.com">bustta80980@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://github.com/bustta/PttNotifier" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/bustta" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}